<div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="clearfix">
    			<a class="logo" href="/"><img src="http://placehold.it/150x65"></a>
                <ul class="list-unstyled clearfix">
                    <li><a class="nav-home" href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a class="nav-speakers" href="/speakers"><i class="fa fa-microphone"></i> Speakers</a></li>
                    <li><a class="nav-schedule" href="/"><i class="fa fa-calendar"></i> Schedule</a></li>
                    <li><a class="nav-sponsors" href="/"><i class="fa fa-heart"></i> Sponsors</a></li>
                    <li><a class="nav-location" href="/"><i class="fa fa-map-marker"></i> Location</a></li>
                    <li><a class="click" href="/"><i class="fa fa-ticket"></i> Register</a></li>
                </ul>
            </nav>
		</div>
	</div>
</div>